@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap');

body{
    background-image: url('Black_Paper\ 1.png');
    background-size: cover;
    background-position: center;
    margin: 0; 
    padding: 0; 
}
canvas {
    display: block; 
}
.beth-ellen-regular{
    font-family: "Beth Ellen", cursive;
    font-weight: 400;
    font-style: normal;
  }
.josefin-slab-bold{
  font-family: "Josefin Slab", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
p{
    font-family: "Josefin Slab", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: white;
    font-size: 60px;
}
a{
    text-decoration: none;
}
h1{
    font-family: "Beth Ellen", cursive;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 120px;
    grid-row: 1 / span 8;
    margin: 0;
    text-align: center;
}
h2{
    font-family: "Beth Ellen", cursive;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 80px;
}
.back{
    color: #44C7FF;
    text-decoration: none;
}
.advance{
    color: #FFA7F6;
    text-decoration: none;
}
.italic {
    font-style: italic;
    color: white;
    text-decoration: none;
}
.blue{
    color: #44C7FF;
    text-decoration: none;
}
.pink{
    color: #FFA7F6;
    text-decoration: none;
}
.white{
    color: white;
    text-decoration: none;
}
.gold{
    color: #FFCA41;
    text-decoration: none;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 20px;
    width: 100%vw;
    height: 100%vh;
    margin: 0 auto;
}
.phrase {
    grid-column: 2 / span 8;
    grid-row: 4 / span 8;
    margin: 0;
}
.expectancy {
    grid-column: 3 / span 8;
    grid-row: 3 / span 8;
    margin: 0;
}
.boston-star {
    grid-column: 6 / span 8;
    grid-row: 2/ span 8;
    margin: 0;
    z-index: 1;
}
.boston {
    grid-column: 6 / span 8;
    grid-row: 4 / span 8;
    margin: 0;
    z-index: 0;
}
.sexy {
    grid-column: 2 / span 8;
    grid-row: 4 / span 8;
    margin: 0;
}
.beautiful {
    grid-column:  / span 8;
    grid-row: 6 / span 8;
    margin: 0;
}
.life {
    grid-column: 6 / span 8;
    grid-row: 6 / span 8;
    margin: 0;
}
.love {
    grid-column: 6 / span 8;
    grid-row: 6 / span 8;
    margin: 0;
}
.life a {
    text-decoration: none;
    color: #44C7FF;
}
.life a:hover {
    text-decoration: underline;
}
.love a {
    text-decoration: none;
    color: #FFA7F6;
}
.love a:hover {
    text-decoration: underline;
}