@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap');
body{
    background-image: url('Black_Paper\ 1.png');
    background-size: cover;
    background-position: center;
    margin: 0; 
    padding: 0; 
}
canvas {
    display: block; 
}
.beth-ellen-regular{
    font-family: "Beth Ellen", cursive;
    font-weight: 400;
    font-style: normal;
  }
.josefin-slab-bold{
  font-family: "Josefin Slab", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
p{
    font-family: "Josefin Slab", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: white;
    font-size: 60px;
}
a{
    text-decoration: none;
}
h1{
    font-family: "Beth Ellen", cursive;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 120px;
    grid-row: 1 / span 8;
    margin: 0;
    text-align: center;
}
h2{
    font-family: "Beth Ellen", cursive;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 80px;
}
.back{
    color: #44C7FF;
}
.advance{
    color: #FFA7F6;
}
.italic {
    font-style: italic;
    color: white;
}
.blue{
    color: #44C7FF;
}
.pink{
    color: #FFA7F6;
}
.white{
    color: white;
}
.gold{
    color: #FFCA41;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 20px;
    width: 100%;
    margin: 0 auto;
}
.sure {
    grid-column: 1 / span 8;
    grid-row: 2 / span 8;
    margin: 1fr;
}
.storm {
    grid-column: 4 / span 8;
    grid-row: 2 / span 8;
}
.fuck {
    grid-column: 2 / span 8;
    grid-row: 3 / span 8;
}
.smoke {
    grid-column: 2 / span 8;
    grid-row: 3 / span 8;
}
.slept {
    grid-column: 2 / span 8;
    grid-row: 3 / span 8;
}
.simple {
    grid-column: 7 / span 8;
    grid-row: 3 / span 8;
}
.smoke{
    text-decoration: none;
    color: #44C7FF;
}
.smoke:hover {
    text-decoration: underline !important;
}
.slept{
    text-decoration: none;
    color: #FFA7F6;
}
.slept:hover {
    text-decoration: underline !important;
}